  <div class="container">
   <div class="card">
      <div class="card-editor"><h1><b>Edit <%= resource_name.to_s.humanize %></b></h1></div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div>
    <%= f.label :email, class: "user_color", style: "display: block" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "exampleInputEmail1" %>
  </div>
  <div>
    <%= f.label :name, class: "user_color", style: "display: block"%>
    <%= f.text_field :name, class: "form-control", id: "exampleInputname1" %>
  </div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <div>
  <%= f.label :phone, class: "user_color", style: "display: block" %>
  <%= f.text_field :phone, class: "form-control", id: "exampleInputPhone1" %>
  </div>
  <div>
    <%= f.label :password, class: "user_color", style: "display: block" %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control", id: "exampleInputPassword11" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>
  <div>
    <%= f.label :password_confirmation, class: "user_color", style: "display: block"%>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", id: "exampleInputPassword11" %>
  </div>
  <div>
    <%= f.label :current_password,  class: "user_color", style: "display: block" %> <i>(we need your current password to confirm your changes)</i>
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", id: "exampleInputPassword11" %>
  </div>
  <div class="actions">
    <%= f.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>
<h3>Cancel my account</h3>
<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>
<%= link_to "Back", :back , class: "btn btn-outline-info"%>
</div>
</div>