<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<main style="
    background-color: white;
">
<div class="container" style="background-color: white;">

<div class="row main-form" style="background-color: #d8d9d9;">
    <form class="" method="post" action="#">
  <div class="badge bg-primary text-wrap" style="width: 9rem;">
    <h3>Sing Up</h3>
  </div>
 
 <div class="form-group"></div>
 <div class="cols-sm-10"></div>
 <div class="input-group"></div>

  <div class="colorrr">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <div class="colorrr">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="colorrr">
  <%= f.label :phone %><br />
  <%= f.text_field :phone %>
  </div>
  <div class="colorrr">
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>
  <div class="colorrr">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  <div class="actions">
  <br>
    <%= f.submit "Sign up", class:"btn btn-outline-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links"%>


      