<%= form_with(model: [post, comment], local: true) do |f| %>
<% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "ошибка") %> произошла при добавлении комментария:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-control">
    <% if post.comments.where(user_id: current_user.id).count >= 3 && current_user.role != "admin"%>
      <div class="alert alert-danger" role="alert">
        Вы превысили количетсво доступных комментариев. Вы можете купить права супервользователя для расширенных возможностей!
      </div>
      <button type="button" class="btn btn-lg btn-success" title="Нажмите сюда для покупки прав суперюзера">Купить</button>
    <% else %>
      <%= f.rich_text_area :body %>
      <%= f.submit submit_label, class: "btn btn-primary mt-1" %>
    <% end %>
  </div>
<% end %>