<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
  <%= form.label :email, class: "user_color", style: "display: block" %>
  <%= form.text_field :email, class: "form-control", id: "exampleInputEmail1" %>
  </div>
  <div>
    <%= form.label :name, class: "user_color", style: "display: block" %>
    <%= form.text_field :name, class: "form-control", id: "exampleInputname1" %>
  </div>
  <div>
    <%= form.label :phone, class: "user_color", style: "display: block" %>
    <%= form.text_field :phone, class: "form-control", id: "exampleInputPhone1" %>
  </div>
  <div>
    <%= form.label :password,  class: "user_color", style: "display: block" %>
    <%= form.password_field :password, class: "form-control", id: "exampleInputPassword11" %>
  </div>
  <br>
  <div class="btn-group">
  <%= form.select(:role, User.roles.keys.map {|role| [role.titleize,role]}, {}, class: "btn btn-success dropdown-toggle", "data-bs-toggle": "dropdown", "aria-expanded": "false") %>
  </div>
  <br><br>
  <div>
    <%= form.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>
