<p style="color: green"><%= notice %></p>
<div class="container">
  <%= link_to "New post", new_post_path, class:"btn btn-primary" %>
  <br>
  <br>
    <div class="card">
      <div class="card-header"><h1>Posts</h1>
      </div>
    <div class="card-body" id="posts">
      <% @posts.each do |post| %>
        <%= render post %>
        <p>
          <%= link_to "Show this post", post, class: "btn btn-info" %>
        </p>
      <% end %>
    </div>
    <%= link_to "New post", new_post_path, class:"btn btn-primary" %>
    </div>
</div>
